/*------------------------
	    GENERAL
-------------------------*/
@font-face {
    font-family: 'bebas_neuebold';
    src: url('./fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('./fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('./fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('./fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('./fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('./fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bestloversregular';
    src: url('./fonts/bestlovers-webfont.woff2') format('woff2'),
         url('./fonts/bestlovers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'bestloversregular';
	font-size: 5,4em;
}
h2, h3, h4, h5 {
	font-family: 'bebas_neuebook';
}

.bg-blue{
	background-color: #19112f; 
}
.bg-white{
    background-color: #FFF;
}
.pt-l{padding-top:5rem;}
.pb-l{padding-bottom: 5rem;}

/*------------------------
	  OFFRES D'EMPLOIS
-------------------------*/

#job h2 {
    font-family: 'bebas_neuebold';
}



