body {
    text-decoration: none;
    text-align: center;
    color:black;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
}

.collab .name{
    font-variant: small-caps;
    font-size:1.5em;
    color:black;
    margin-top: 20%;
    text-shadow: 2px 2px 15px darkgray;
}

.collab .name, .collab .xp, .collab .description {
    margin-bottom: -5%;
    text-align: justify;
}

.collab .dev {
    margin: auto;
    margin-left: -1%;
    max-width: 100%;
}

.collab .devDesc {
    margin: 0 3% 0 -4%;
    padding: 0 5%;
}
  
.collab h2 {
    text-align: center; 
    font-size: 2em;
    color:rgba(25,17,47);
    border-bottom:1px dashed rgba(25,17,47);
    padding-bottom: 5%;
    margin:0 12%;
}

.collab .img-fluid{
    margin:auto;
    border-radius: 0.2em;
    box-shadow: 2px 2px 20px black;
}

.collab .lang{
 color:rgba(10, 120,147, 1);
}


@media screen and (min-width: 960px){
    .collab h2 {
        font-size: 2.5em;
        padding-bottom: 2%;
        margin : 2% auto;
    }
    
    .collab .devDesc {
        margin:auto auto 10% auto;
    }
    
    .collab .perso {
        margin: 2%;
    }
}

@media screen and (min-width: 1140px){
    
}
