#portofolio_entreprise.container
  .row
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_adulis1.png' alt='logo_adulis')
        figcaption
          h3 Adlulis
          p Cr&eacute;ation de site web
        a(href='http://www.adulis.fr' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_argefo.png' alt='logo_argefo')
        figcaption
          h3 Argefo
          p Bureau d&apos;&eacute;tudes WebSIG
        a(href='http://www.argefo.com' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_axyweb.png' alt='logo_axyweb')
        figcaption
          h3 AxyWeb
          p Des solutions m&eacute;tiers en d&eacute;v&eacute;loppement
        a(href='http://www.axysweb.com' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_idtonic.jpeg' alt='logo_idtonic')
        figcaption
          h3 IdTonic
          p Le d&eacute;veloppement, notre m&eacute;tier
        a(href='http://idtonic.com' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_cimoz.jpeg' alt='logo_cimoz')
        figcaption
          h3 Cimoz
          p l&apos;Innovation digitale
        a(href='http://www.cymoz.fr' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_cortex360.png' alt='logo_cortex360')
        figcaption
          h3 Cortex 360
          p  Votre solution autour de vous
        a(href='http://www.cortex360.fr' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_loginfo.png' alt='logo_loginfo')
        figcaption
          h3 Log Info
          p Vos sites web sportif
        a(href='http://www.loginfo.net' target='_blank')
    .col-6.col-md-3
      figure.content_cadre
        img(src='images/logo_myostudio.png' alt='logo_myostudio')
        figcaption
          h3 MyoStudio
          p Le green developpement
        a(href='http://www.myostudio.com' target='_blank')
