#contentCollab.divs
  table.table
    thead
      th Nom
      th Age
      th Technologies
      th Expérience
      th Description
      th Image
      th
      th
    tbody
  a(href="#", class='ajouter btn btn-primary', data-toggle='modal', data-target='#modalAjoutCollab') Ajouter
  include modal_ajout_collab.pug
