div.modal.modal-id
  .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title EDITION
          |
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |
        .modal-body
          form(action='')
            |
            button.btn.btn-primary#updateUser(type='submit', data-dismiss='modal') Envoyer
        |
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Fermer
