#contentBlog.divs
  table.table
    thead
      th Titre
      th Contenu
      th Images
      th Auteur
      th Catégorie
      th Description
      th
      th
    tbody
  a(href="#", class='ajouter btn btn-primary', data-toggle='modal', data-target='#modalAjoutBlog') Ajouter
  include modal_ajout_blog.pug
