#contentFooter.divs
  table.table
    thead
      th Horaires
      th Adresse
      th Tel
      th Mail
      th
      th
    tbody
  a(href="#", class='ajouter btn btn-primary', data-toggle='modal', data-target='#modalAjoutContact') Ajouter
  include modal_ajout_contact.pug
