extends layout

block content
  body.admin
    section#admin.text-center
      form.form-signin
        img.mb-4(src='images/logo-dev.png', alt='Administration Connexion')
        h1.mb-3 Connexion
        label.sr-only(for='inputEmail') Identifiant
        input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') Mot de passe
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        .checkbox.mb-3
          label
            input(type='checkbox', value='remember-me')
            |  Remember me
        button.btn.btn-lg.btn-dev.btn-block(type='submit') Sign in
        p.mt-5.mb-3.text-muted © 2017-2018
