#contentOffres.divs
  table.table
    thead
      th Nom du poste
      th Recruteur
      th Durée
      th Localisation
      th Département
      th Diplôme
      th Expérience
      th Poste
      th Compétences
      th Logo
      th
      th
    tbody
  a(href="#", class='ajouter btn btn-primary', data-toggle='modal', data-target='#modalAjoutMission') Ajouter
  include modal_ajout_offres.pug
