extends layout

block content
  body
    section#admin
          .container
            .row
              .col-2
                .row
                  a#modifBar(href='#') Bar
                .row
                  a#modifOffres(href='#') Offres Emplois
              .col-10
                .row
                  #contentBar
                    table.table
                      for bar in barList
                        tr
                          td= bar.name
                          td= bar.picto
                          td= bar.numbers
                          td
                            a.modifier Modifier
                .row
                  #contentOffres
