#contentBar.divs
  table.table
    thead
      th Nom
      th Icône
      th Nombres
      th
      th
    tbody
  a(href="#", class='ajouter btn btn-primary', data-toggle='modal', data-target='#modalAjoutBa') Ajouter
  include modal_ajout_ba.pug
