#offre_emploi.container
  .row
    .col-6.col-md-5.offset-1.content_emploi
      h2  Developpeur React
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Ubisoft
            li
              i.fa.fa-user.mr-2.fa-2x
              | Developpeur React
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDD 8 mois
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Bordeaux
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce1') En savoir plus...
      #Annonce1.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Developpeur React
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Ubisoft
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | Dans le cadre de son &eacute;volution, Ubisoft recherche un(e) developpeur(euse) ReactJS. Vous souhaitez participer &agrave; des projets collaboratifs directement sur des jeux video. Vous &ecirc;tes attir&eacute;
                      | par tout l&apos;uninvers des jeux vid&eacute;os. Vous avez une exp&eacute;rience de d&eacute;veloppeur Web, alors n&apos;h&eacute;sitez pas &agrave; postuler
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                     F/H, dipl&ocirc;m&eacute; d&apos;une &eacute;cole d&apos;ing&eacute;nieur ou d&apos;une formation sup&eacute;rieure universitaire &eacute;quivalente vous justifiez d&apos;une exp&eacute;rience r&eacute;ussie
                        |                                                                     de 2 ans minimum.La connaissance des m&eacute;thodes Agiles dont SCRUM serait un plus. Vous &ecirc;tes de nature curieuse pour aborder de nouveaux aspects m&eacute;tiers et fonctionnels, et disposez
                        |                                                                     d&rsquo;un bon relationnel pour une int&eacute;gration rapide au sein d&rsquo;une &eacute;quipe dynamique.Devenez un Happy Digital Member en nous envoyant votre candidature !
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li  Connaissance en React JS. Angular JS serait un plus
                          li  Pratique de GIT courante
                          li  Salaire selon exp&eacute;rience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Formateur Web PHP
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Wild Code School
            li
              i.fa.fa-user.mr-2.fa-2x
              | Formateur Web PHP
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Nantes
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce2') En savoir plus...
      #Annonce2.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Formateur developpeur Web
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Wild Code School
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | la Wild Code School est une &eacute;cole d&apos;apprentissage Web. Install&eacute; &agrave; La Loupe en tout premier, la WCS voit son activit&eacute; grandir d&apos;ann&eacute;e en ann&eacute;e. Ainsi, plusieurs
                      | &eacute;cole se sont ouvertes sur le territoire Nationale. Nous offrons une formation de 5 mois pour des personnes venant de tout profil
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                 Nous cherchons un formateur expert dans le language PHP. Diplom&eacute; d&apos;une &eacute;cole d&apos;informatique, vous justifiez d&apos;une ex&eacute;p&eacute;rience de 10 minimum dans le d&eacute;veloppement
                        |                                                                                 Web. VOus avez d&eacute;j&agrave; eu &agrave; encadrer des formateurs internes lors de vos pr&eacute;c&eacute;dents emplois et vous aimez le sens de l&apos;apprentissage. Alors n&apos;h&eacute;sitez
                        |                                                                                 pas &agrave; candidater !!
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li Connaissance du language PHP et des frameword associ&eacute; (Symphony 4 de pr&eacute;f&eacute;rence)
                          li  Pratique de GIT courante
                          li  Salaire selon exp&eacute;rience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Developpeur PHP / SIG
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Argefo
            li
              i.fa.fa-user.mr-2.fa-2x
              | Developpeur PHP / SIG
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Saint Magne
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce3') En savoir plus...
      #Annonce3.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Developpeur React
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Argefo
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | ARGEFO (Agence Region de GEstion FOrestiere) est un bureau d&apos;&eacute;tude cartographique sp&eacute;cialis&eacute; dans les Systeme d&apos;Information G&eacute;ographique. Notre activit&eacute; premi&egrave;re
                      | &eacute;tant un recensemement et un contr&ocirc;le du patrimoine forestier de nos clients, nous sommes pr&eacute;curseurs quant &agrave; l&apos;utilisation d&apos;outils num&eacute;rique. Nos activit&eacute;s
                      | compl&eacute;mentaires (en plus du forestier), nous pousse &agrave; utiliser un WebSIG.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                             En collaboration avec une entreprise partenaire qui d&eacute;veloppe notre propre SIG, vous serez alors en charge de faire le lien entre les demandes d&apos;ARGEFO et la r&eacute;alisation du d&eacute;veloppement
                        |                                                                                             Web de notre WebSIG.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li  Connaissance en Back-end. Language PHP de pr&eacute;f&eacute;rence
                          li Connaissance de l&apos;openSource en applicatif cartographique (Openlayer Map par ex)
                          li  Une connaissance en SIG (Qgis, Arcgis, MapInfo) serait un r&eacute;el plus
                          li  Salaire &agrave; n&eacute;gocier selon exp&eacute;rience. D&eacute;butant pouvants &ecirc;tre accept&eacute;
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  D&eacute;veloppeur Android
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Meetic
            li
              i.fa.fa-user.mr-2.fa-2x
              | D&eacute;veloppeur Andoid
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Paris
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce4') En savoir plus...
      #Annonce4.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title D&eacute;veloppeur Andoid
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Wild Code School
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | Meetic est la premi&egrave;re entreprise de recontre entre c&eacute;libataire. Cr&eacute;&eacute; il y a plus de 10 ans, elle permet de nombreuses rencontres entre de miliers de c&eacute;libataires, qui, gr&acirc;ce
                      | &agrave; Meetic, trouvent alors le grand amour ! Notre besoin &eacute;tant de plus en plus important, nous souhaitons am&eacute;liorer alors notre offre sur t&eacute;l&eacute;phone avec de nouvelles fonctionnalit&eacute;es.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                         Nous cherchons un d&eacute;veloppeur Android qui permettra alors d&apos;am&eacute;liorer notre solution android. D&eacute;velopp&eacute; et gr&acirc;ce &agrave; Java, et gr&acirc;ce &agrave; ReactJS,
                        |                                                                                                         vous justifiez d&apos;une premi&egrave;re exp&eacute;rience ou vous sortez d&apos;une formation sp&eacute;cialis&eacute;e. Alors venez &eacute;galement trouver le grand amour du travail.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en en Java, JEE
                          li Connaissance de l&apos;environnement ReactJS, NodeJS et du language JS en particulier
                          li  Pratique de l&apos;anglais n&eacute;cessaire
                          li  Entre 24k et 30k selon experience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Developpeur PHP / SIG
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Argefo
            li
              i.fa.fa-user.mr-2.fa-2x
              | Developpeur PHP / SIG
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Saint Magne
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce3') En savoir plus...
      #Annonce3.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Developpeur React
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Argefo
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | ARGEFO (Agence Region de GEstion FOrestiere) est un bureau d&apos;&eacute;tude cartographique sp&eacute;cialis&eacute; dans les Systeme d&apos;Information G&eacute;ographique. Notre activit&eacute; premi&egrave;re
                      | &eacute;tant un recensemement et un contr&ocirc;le du patrimoine forestier de nos clients, nous sommes pr&eacute;curseurs quant &agrave; l&apos;utilisation d&apos;outils num&eacute;rique. Nos activit&eacute;s
                      | compl&eacute;mentaires (en plus du forestier), nous pousse &agrave; utiliser un WebSIG.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                     En collaboration avec une entreprise partenaire qui d&eacute;veloppe notre propre SIG, vous serez alors en charge de faire le lien entre les demandes d&apos;ARGEFO et la r&eacute;alisation du d&eacute;veloppement
                        |                                                                                                                     Web de notre WebSIG.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li  Connaissance en Back-end. Language PHP de pr&eacute;f&eacute;rence
                          li Connaissance de l&apos;openSource en applicatif cartographique (Openlayer Map par ex)
                          li  Une connaissance en SIG (Qgis, Arcgis, MapInfo) serait un r&eacute;el plus
                          li  Salaire &agrave; n&eacute;gocier selon exp&eacute;rience. D&eacute;butant pouvants &ecirc;tre accept&eacute;
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  D&eacute;veloppeur Android
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Meetic
            li
              i.fa.fa-user.mr-2.fa-2x
              | D&eacute;veloppeur Andoid
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Paris
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce4') En savoir plus...
      #Annonce4.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title D&eacute;veloppeur Andoid
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Wild Code School
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | Meetic est la premi&egrave;re entreprise de recontre entre c&eacute;libataire. Cr&eacute;&eacute; il y a plus de 10 ans, elle permet de nombreuses rencontres entre de miliers de c&eacute;libataires, qui, gr&acirc;ce
                      | &agrave; Meetic, trouvent alors le grand amour ! Notre besoin &eacute;tant de plus en plus important, nous souhaitons am&eacute;liorer alors notre offre sur t&eacute;l&eacute;phone avec de nouvelles fonctionnalit&eacute;es.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                                 Nous cherchons un d&eacute;veloppeur Android qui permettra alors d&apos;am&eacute;liorer notre solution android. D&eacute;velopp&eacute; et gr&acirc;ce &agrave; Java, et gr&acirc;ce &agrave; ReactJS,
                        |                                                                                                                                 vous justifiez d&apos;une premi&egrave;re exp&eacute;rience ou vous sortez d&apos;une formation sp&eacute;cialis&eacute;e. Alors venez &eacute;galement trouver le grand amour du travail.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en en Java, JEE
                          li Connaissance de l&apos;environnement ReactJS, NodeJS et du language JS en particulier
                          li  Pratique de l&apos;anglais n&eacute;cessaire
                          li  Entre 24k et 30k selon experience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Developpeur PHP / SIG
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Argefo
            li
              i.fa.fa-user.mr-2.fa-2x
              | Developpeur PHP / SIG
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Saint Magne
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce3') En savoir plus...
      #Annonce3.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Developpeur React
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Argefo
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | ARGEFO (Agence Region de GEstion FOrestiere) est un bureau d&apos;&eacute;tude cartographique sp&eacute;cialis&eacute; dans les Systeme d&apos;Information G&eacute;ographique. Notre activit&eacute; premi&egrave;re
                      | &eacute;tant un recensemement et un contr&ocirc;le du patrimoine forestier de nos clients, nous sommes pr&eacute;curseurs quant &agrave; l&apos;utilisation d&apos;outils num&eacute;rique. Nos activit&eacute;s
                      | compl&eacute;mentaires (en plus du forestier), nous pousse &agrave; utiliser un WebSIG.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                                             En collaboration avec une entreprise partenaire qui d&eacute;veloppe notre propre SIG, vous serez alors en charge de faire le lien entre les demandes d&apos;ARGEFO et la r&eacute;alisation du d&eacute;veloppement
                        |                                                                                                                                             Web de notre WebSIG.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li  Connaissance en Back-end. Language PHP de pr&eacute;f&eacute;rence
                          li Connaissance de l&apos;openSource en applicatif cartographique (Openlayer Map par ex)
                          li  Une connaissance en SIG (Qgis, Arcgis, MapInfo) serait un r&eacute;el plus
                          li  Salaire &agrave; n&eacute;gocier selon exp&eacute;rience. D&eacute;butant pouvants &ecirc;tre accept&eacute;
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  D&eacute;veloppeur Android
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Meetic
            li
              i.fa.fa-user.mr-2.fa-2x
              | D&eacute;veloppeur Andoid
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Paris
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce4') En savoir plus...
      #Annonce4.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title D&eacute;veloppeur Andoid
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Wild Code School
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | Meetic est la premi&egrave;re entreprise de recontre entre c&eacute;libataire. Cr&eacute;&eacute; il y a plus de 10 ans, elle permet de nombreuses rencontres entre de miliers de c&eacute;libataires, qui, gr&acirc;ce
                      | &agrave; Meetic, trouvent alors le grand amour ! Notre besoin &eacute;tant de plus en plus important, nous souhaitons am&eacute;liorer alors notre offre sur t&eacute;l&eacute;phone avec de nouvelles fonctionnalit&eacute;es.
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                                                         Nous cherchons un d&eacute;veloppeur Android qui permettra alors d&apos;am&eacute;liorer notre solution android. D&eacute;velopp&eacute; et gr&acirc;ce &agrave; Java, et gr&acirc;ce &agrave; ReactJS,
                        |                                                                                                                                                         vous justifiez d&apos;une premi&egrave;re exp&eacute;rience ou vous sortez d&apos;une formation sp&eacute;cialis&eacute;e. Alors venez &eacute;galement trouver le grand amour du travail.
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en en Java, JEE
                          li Connaissance de l&apos;environnement ReactJS, NodeJS et du language JS en particulier
                          li  Pratique de l&apos;anglais n&eacute;cessaire
                          li  Entre 24k et 30k selon experience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Developpeur React
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Ubisoft
            li
              i.fa.fa-user.mr-2.fa-2x
              | Developpeur React
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDD 8 mois
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Bordeaux
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce1') En savoir plus...
      #Annonce1.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Developpeur React
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Ubisoft
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | Dans le cadre de son &eacute;volution, Ubisoft recherche un(e) developpeur(euse) ReactJS. Vous souhaitez participer &agrave; des projets collaboratifs directement sur des jeux video. Vous &ecirc;tes attir&eacute;
                      | par tout l&apos;uninvers des jeux vid&eacute;os. Vous avez une exp&eacute;rience de d&eacute;veloppeur Web, alors n&apos;h&eacute;sitez pas &agrave; postuler
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                                                                     F/H, dipl&ocirc;m&eacute; d&apos;une &eacute;cole d&apos;ing&eacute;nieur ou d&apos;une formation sup&eacute;rieure universitaire &eacute;quivalente vous justifiez d&apos;une exp&eacute;rience r&eacute;ussie
                        |                                                                                                                                                                     de 2 ans minimum.La connaissance des m&eacute;thodes Agiles dont SCRUM serait un plus. Vous &ecirc;tes de nature curieuse pour aborder de nouveaux aspects m&eacute;tiers et fonctionnels, et disposez
                        |                                                                                                                                                                     d&rsquo;un bon relationnel pour une int&eacute;gration rapide au sein d&rsquo;une &eacute;quipe dynamique.Devenez un Happy Digital Member en nous envoyant votre candidature !
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li  Connaissance en React JS. Angular JS serait un plus
                          li  Pratique de GIT courante
                          li  Salaire selon exp&eacute;rience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
    .col-6.col-md-5.offset-1.content_emploi
      h2  Formateur Web PHP
      .info_emploi
        img.logo_entreprise(src='http://via.placeholder.com/150x150')
        .detail_emploi
          ul.list_detail
            li
              i.fa.fa-building.mr-2.fa-2x
              | Wild Code School
            li
              i.fa.fa-user.mr-2.fa-2x
              | Formateur Web PHP
            li
              i.fa.fa-briefcase.mr-2.fa-2x
              | CDI
            li
              i.fa.fa-map-marker.mr-2.fa-2x
              | Nantes
      button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target='#Annonce2') En savoir plus...
      #Annonce2.modal.fade
        .modal-dialog.modal-lg
          .modal-content
            // Modal Header
            .modal-header
              h2.modal-title Formateur developpeur Web
              button.close(type='button' data-dismiss='modal') &times;
            // Modal body
            .modal-body
              h3  Wild Code School
              .container
                .row
                  .col-12
                    .descri_entreprise
                      | la Wild Code School est une &eacute;cole d&apos;apprentissage Web. Install&eacute; &agrave; La Loupe en tout premier, la WCS voit son activit&eacute; grandir d&apos;ann&eacute;e en ann&eacute;e. Ainsi, plusieurs
                      | &eacute;cole se sont ouvertes sur le territoire Nationale. Nous offrons une formation de 5 mois pour des personnes venant de tout profil
              .contexte_annonce
                .container
                  .row
                    .col-12.col-lg-6
                      img.logo_modal(src='http://via.placeholder.com/300x300')
                    .col-12.col-lg-6.descri_modal
                      .profil_modal
                        h4  Description du poste
                        |                                                                                                                                                                                 Nous cherchons un formateur expert dans le language PHP. Diplom&eacute; d&apos;une &eacute;cole d&apos;informatique, vous justifiez d&apos;une ex&eacute;p&eacute;rience de 10 minimum dans le d&eacute;veloppement
                        |                                                                                                                                                                                 Web. VOus avez d&eacute;j&agrave; eu &agrave; encadrer des formateurs internes lors de vos pr&eacute;c&eacute;dents emplois et vous aimez le sens de l&apos;apprentissage. Alors n&apos;h&eacute;sitez
                        |                                                                                                                                                                                 pas &agrave; candidater !!
                      .competence_modal
                        h4  Competence Requise
                        ul
                          li  Connaissance en front HTML/CSS/JS
                          li Connaissance du language PHP et des frameword associ&eacute; (Symphony 4 de pr&eacute;f&eacute;rence)
                          li  Pratique de GIT courante
                          li  Salaire selon exp&eacute;rience
            // Modal footer
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
