section#blog
  .container
    .row
      for blog in blogs
        .row
          .col-xs-12.col-sm-4.col-md-4.col-lg-3
            .picture
              a(href='#')
                img.img-fluid(src=(blog.pathImage))
              .keyword_box
                .keyword_txt Infrastructure
          .col-xs-12.col-sm-7.col-md-7.col-lg-6
            .content
              small
                = blog.date 
                |  |  
                strong Par 
                  = blog.author
            h4
              a(href='#') DEVOPS, UN CHEMIN DE PROGR&Egrave;S OUVERT &Agrave; TOUS.
            p
              | DevOps est aujourd&rsquo;hui un mod&egrave;le de transformation incontournable pour les DSI. Mais qu&rsquo;en est-il de sa mise en &oelig;uvre concr&egrave;te ?
        hr
      