header#header_blog.position-relative
	img.img-fluid(src="/images/blog_header.jpg" alt="Responsive image")
	img.logo_wild.position-absolute(src="/images/wyn-logo.png" alt="")
	.position-absolute.writeit