extends layout

block content
    header
        include nav.pug
        include blog_header.pug
    body
        include articles_blog.pug
    footer
        include articles_blog.pug
    footer
        include footer_collab.pug
