extends layout

block content
    header
        include nav.pug
    body
        p ici se trouvent les articles
        include articles_blog.pug
    footer
        p ici se trouve footer
        include footer_collab.pug
