section#job.bg-white.pt-l.pb-l
  .container
    .slick
      article
        h2.text-center Développeur React (H/F)
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Wild Code School Bordeaux
            p Ecole de formation Web
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDI
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Bordeaux
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 5 minutes
      article
        h2.text-center Product Owner
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Ubisoft
            p Développeur de logiciel
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDI
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Pessac
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 1 heure
      article
        h2.text-center Développeur Android (H/F)
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Meetic
            p Site de rencontre
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDD
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Talence
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 2 heures
      article
        h2.text-center Développeur React (H/F)
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Wild Code School Bordeaux
            p Ecole de formation Web
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDI
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Bordeaux
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 5 minutes
      article
        h2.text-center Product Owner
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Ubisoft
            p Développeur de logiciel
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDI
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Pessac
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 1 heure
      article
        h2.text-center Développeur Android (H/F)
        figure
          img.float-left.mr-3(src='http://via.placeholder.com/75x75', alt='')
          figcaption
            h3 Meetic
            p Site de rencontre
        div
          p.mb-0
            i.fas.fa-briefcase.mr-2
            | CDD
          p.mb-0
            i.fas.fa-map-marker-alt.mr-2
            | Talence
          p.mb-0
            i.far.fa-clock.mr-2
            | Il y a 2 heures
  // /.container
