extends layout

block content
    header
        include nav.pug
    body
        p#confirEmploi Votre demande vient d'être ajouté. Un mail vient d'être envoyé à l'administrateur. Une fois qu'elle sera validé, vous pourrez la voir sur le site. 
    footer
        include footer_collab.pug
        
