extends layout

block content
    header
        include nav.pug
    body
        #confirm_emploi
          .row.container
            .col-5.offset-2.txt_confirm
                div
                    p Wild Not You vous remercie de proposer une nouvelle mission. Nous vous confirmons que l'envoi a bien été effectué. 
                    p Notre administrateur vient d'être averti par mail. Après examination de cette mission, elle sera publiée sur le site dans les plus brefs délais. 
                    p Pour toutes autres demandes, vous trouverez les liens de contact dans le pied de page.
                        
                div
                    <a href="/" class="btn btn-primary btn-md active btn_confirm_emploi" role="button" aria-pressed="true">Retour à l'acceuil</a>
            .col-2.offset-3
                div
                    img.img-fluid(src='/images/logo-dev.png')
                div
                 
    
    footer
        include footer_collab.pug
        
