.formEmploi#formEmploi
  h2 Deposer une offre
  form#myForm(class='form-emploi' method='POST' action='/emploi')

    .container.form-ent
      .row.formOffre
        .col-6.col-sm-4
          label.form_col(for='emploi') Poste :
          input#emploi(name='emploi', type='text')
          span.tooltip Un poste ne peut pas faire moins de 2 caract&egrave;res
        .col-6.col-sm-4
          label.form_col(for='duree') Dur&eacute;e :
          input#duree(name='duree', type='text')
          span.tooltip La dur&eacute;e doit &ecirc;tre sup&eacute;rieure &agrave; 0
        .col-12.col-sm-4
          label.form_col(for='lieu') Lieu :
          input#duree(name='lieu', type='text')
          span.tooltip Le lieu ne peut pas etre vide
      .row.formOffre
        .col-6.col-sm-4
          label.form_col(for='diplome') Dipl&ocirc;me :
          input#diplome(name='diplome', type='text')
          span.tooltip Le champ diplome ne peut pas &ecirc;tre vide
        .col-6.col-sm-4
          label.form_col(for='experience') Exp&eacute;rience :
          input#experience(name='experience', type='textarea')
          span.tooltip Le champ exp&eacute;rience ne peut pas &ecirc;tre vide
      .row.formOffre
        .col-12.col-sm-6
          label.form_col(for='descEmploi') Description du poste :
          textarea#descEmploi(name='descEmploi', rows='5')
          span.tooltip La description du poste ne peut pas &ecirc;tre vide
        .col-12.col-sm-6
          label.form_col(for='descEnt') Description de l&apos;entreprise :
          textarea#descEnt(name='descEnt', rows='5')
          span.tooltip La description de l&apos;entreprise ne peut pas &ecirc;tre vide
      .row.formOffre
        .col-12.col-sm-6
          label.form_col(for='competences') Comp&eacute;tences requises :
          textarea#descProfil(name='competences', rows='5')
          span.tooltip La description du profil ne peut pas &ecirc;tre vide
        .col-12.col-sm-6
          .row.envoiImg
            .col-12
              label.form_col(for='logo') Logo :
              input#logo(name='logo', type='file')
              span.tooltip Le logo ne peut pas &ecirc;tre absent
          .row.envoiImg
            .col-12
              label.form_col.imgEnt(for='imgEnt') Images :
              input#imgEnt(name='imgEnt', type='file')
      .row.formOffre
        .col-12.formSubmit.mb-4.pt-4
          input(type='submit', value="Envoyer mon offre d'emploi")