extends layout

block content
    header
        include nav.pug
        include video_header.pug
    body
        p ici se trouve histoire
        include serious-bar.pug
        include acceuil_entreprise.pug
        p ici se trouve fun_bar
	include fun-bar.pug
        p ici se trouve entreprise
    footer
        p ici se trouve footer
	include footer_collab.pug

