extends layout

block content
    header
        include nav.pug
        include video_header.pug
    body
        include carousel-job.pug
        include fun-bar.pug
        include acceuil_entreprise.pug
    footer
        include footer_collab.pug

