extends layout

block content
    header
        p ici se trouve nav
        include video_header.pug
    body
        p ici se trouve histoire
        include serious-bar.pug
        include acceuil_entreprise.pug
        p ici se trouve fun_bar
        p ici se trouve entreprise
        include section_collab.pug
    footer
        p ici se trouve footer
