div.modal.modal-id(id='modalAjout')
  .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title AJOUT
          |
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |
        .modal-body
          form(method='POST', action='/admin/bar/add')
            .form-group
              label Nom
              input.form-control(type='text', name='nameAdd')
            .form-group
              label Picto
              input.form-control(type='text', name='pictoAdd')
            .form-group
              label Chiffres
              input.form-control(type='text', name='numbersAdd')
            |
            button.btn.btn-primary(type='submit') Envoyer
        |
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Fermer
