div.modal.modal-id(id='modalAjoutBlog')
  .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title AJOUT BILLETS DE BLOG
          |
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |
        .modal-body
          form(action='/admin/blog/add')#createBlog
            .form-group
              label Titre
              input.form-control(type='text', placeholder='Titre')
            .form-group
              label Contenu
              input.form-control(type='text', placeholder='Contenu')
            .form-group
              label Images
              input.form-control(type='file', placeholder='Images')
            .form-group
              label Auteur
              input.form-control(type='text', placeholder='Auteur')
            .form-group
              label Catégorie
              input.form-control(type='text', placeholder='Catégorie')
            .form-group
              label Description
              input.form-control(type='text', placeholder='Description')
            |
            button#btnAddBlog.btn.btn-primary(type='submit', data-dismiss='modal') Envoyer
        |
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Fermer
