div.modal.modal-id(id='modalAjoutBa')
  .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title AJOUT BAR
          |
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |
        .modal-body
          form(action='/admin/bar/add')#createBa
            .form-group
              label Nom
              input#nameAdd.form-control(type='text', placeholder='Nom')
            .form-group
              label Picto
              input#pictoAdd.form-control(type='text', placeholder='Picto')
            .form-group
              label Chiffres
              input#numbersAdd.form-control(type='text', placeholder='Chiffres')
        |
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Fermer
