div.modal.modal-id(id='modalAjoutContact')
  .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title AJOUT CONTACT
          |
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        |
        .modal-body
          form(action='/admin/contact/add')#createCon
            .form-group
              label Horaires
              input#horAdd.form-control(type='text')
            .form-group
              label Adresse
              input#adrAdd.form-control(type='text')
            .form-group
              label Tél
              input#telAdd.form-control(type='text')
              .form-group
              label Mail
              input#mailAdd.form-control(type='text')
            |
            button#btnAddCon.btn.btn-primary(type='submit', data-dismiss='modal') Envoyer
        |
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Fermer
