extends layout

block content
    header
        include nav.pug
    body(class=bodyClass)
        h2.titre_missions retrouvez ici nos dernières missions
        include annonce_emploi.pug
    footer
        include footer_collab.pug
