extends layout

block content
    header
        include nav.pug
        include video_header_recruteur.pug
    body
        include section_collab.pug
        include serious-bar.pug
        include acceuil_entreprise.pug
    footer
        include footer_collab.pug
