section#serious-bar.bg-blue.pt-l.pb-l
  .container
    #counter
      .row.text-center.text-white
        .col-4
          i.fas.fa-4x.fa-users
          .counter-value(data-count='2000') 0
          h2 Collaborateurs
        .col-4
          i.far.fa-4x.fa-building
          .counter-value(data-count='500') 0
          h2 Entreprises partenaires
        .col-4
          i.far.fa-4x.fa-compass
          .counter-value(data-count='200') 0
          h2 Métiers
  // /.container