section#serious-bar.bg-blue.pt-l.pb-l
  .container
    #counter
      .row.text-center.text-white
        - for (var i = 0; i < bar.length; i++)
          .col-4
            i.fas.fa-4x(class=bar[i].picto)
            .counter-value(data-count=bar[i].numbers) 0
            h2=bar[i].name
  // /.container
