/*------------------------
	    GENERAL
-------------------------*/
@font-face {
    font-family: 'bebas_neuebold';
    src: url('/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('/fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('/fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bestloversregular';
    src: url('/fonts/bestlovers-webfont.woff2') format('woff2'),
         url('/fonts/bestlovers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'bestloversregular';
	font-size: 5,4em;
}
h2, h3, h4, h5 {
	font-family: 'bebas_neuebook';
}

.bg-blue{
	background-color: #19112f;
}
.pt-l{padding-top:5rem;}
.pb-l{padding-bottom: 5rem;}

/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

/*------------------------
	    SERIOUS BAR
-------------------------*/
.counter-value{
	font-family: 'bebas_neueregular';
	font-size: 4rem;
}
.fake {
	height: 500px;
	width: 100%;
}

/* CSS de la section video_header */


#header .video_header{
    position:relative;
}

/* Dispo et taille des boutons - A redefinir ensuite selon la charte graphique */
#header .btn_header_emploi, #header .btn_header_developpeur{
    width: 100%;
}

 #header .btn_header_emploi, #header .btn_header_developpeur{
      height:100px;
      opacity: 0.7;
  }
#header .icon_search{
      background-color: rgba(0,0,0,0.7)
  }
#header .btn_header_emploi, #header .btn_header_developpeur{
      margin-bottom: 5%;
  }

#header .input-group{
    border:1px gray solid;
    margin-top:2%;
}

#header .custom-select{
    height: 50px;
}

@media screen and (min-width: 960px) {
    #header .content_searchbar {
    position: absolute;
    top:45%;
  }
   /* Barre de recherche en une ligne (display flex) sur la vidéo */
    #header .search_bar{
    display: flex;
    }
