/*------------------------
	    GENERAL
-------------------------*/
@font-face {
    font-family: 'bebas_neuebold';
    src: url('/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('/fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('/fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('/fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bestloversregular';
    src: url('/fonts/bestlovers-webfont.woff2') format('woff2'),
         url('/fonts/bestlovers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'bestloversregular';
	font-size: 5,4em;
}
h2, h3, h4, h5 {
	font-family: 'bebas_neuebook';
}

.bg-blue{
	background-color: #19112f;
}
.pt-l{padding-top:5rem;}
.pb-l{padding-bottom: 5rem;}

/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

/*------------------------
	    SERIOUS BAR
-------------------------*/
.counter-value{
	font-family: 'bebas_neueregular';
	font-size: 4rem;
}
.fake {
	height: 500px;
	width: 100%;
}

/* CSS de la section video_header */


#header .video_header{
    position:relative;
}

/* Dispo et taille des boutons - A redefinir ensuite selon la charte graphique */
#header .btn_header_emploi, #header .btn_header_developpeur{
    width: 100%;
}

 #header .btn_header_emploi, #header .btn_header_developpeur{
      height:100px;
      opacity: 0.7;
  }
#header .icon_search{
      background-color: rgba(0,0,0,0.7)
  }
#header .btn_header_emploi, #header .btn_header_developpeur{
      margin-bottom: 5%;
  }

#header .input-group{
    border:1px gray solid;
    margin-top:2%;
}

#header .custom-select{
    height: 50px;
}

/* Section portofolio_entreprise / Acceuil entreprise */


/* Section portofolio_entreprise  */

#portofolio_entreprise{
    margin-top: 5%;
}
/* cadre des logos + couleur et taille du texte */
#portofolio_entreprise .content_cadre {
 font-family: sans-serif;
 position: relative;
 display: inline-block;
 overflow: hidden;
 margin: 10px 0px;

 max-width: 315px;
 width: 100%;
 color: #ffffff;
 text-align: left;
 border:5px double rgba(51, 51, 51, 0.3);
}



#portofolio_entreprise .content_cadre * {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-transition: all 0.25s ease;
 transition: all 0.25s ease;
}

#portofolio_entreprise .content_cadre:before {
 position: absolute;
 top: 10px;
 bottom: 10px;
 left: 10px;
 right: 10px;
 top: 100%;
 content: '';
 background-color: rgba(35, 35, 35, 1);
 -webkit-transition: all 0.25s ease;
 transition: all 0.25s ease;
 -webkit-transition-delay: 0.25s;
 transition-delay: 0.25s;
 visibility: hidden;

}

#portofolio_entreprise .content_cadre img {
 vertical-align: top;
 max-width: 100%;
 backface-visibility: hidden;
}


#portofolio_entreprise .content_cadre figcaption {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 1;
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 visibility: hidden;
}

#portofolio_entreprise .content_cadre h3,
#portofolio_entreprise .content_cadre p {
 margin: 0;
 width:80%;
 opacity: 0;
 letter-spacing: 1px;
 text-align: center;
}

#portofolio_entreprise .content_cadre h3 {
 -webkit-transform: translateY(-100%);
 transform: translateY(-100%);
 text-transform: uppercase;
 font-size:1rem;
 font-weight: 400;
 -webkit-transition-delay: 0.05s;
 transition-delay: 0.05s;
 margin-bottom: 5px;
}
#portofolio_entreprise .content_cadre p {
 font-size: 0.6rem;
 font-weight: normal;
 background-color: #ae895d;
 padding: 3px 10px;
 -webkit-transform: translateY(-100%);
 transform: translateY(-100%);
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
#portofolio_entreprise .content_cadre a {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 1;
}
#portofolio_entreprise .content_cadre:hover:before,
#portofolio_entreprise .content_cadre.hover:before {
 top: 10px;
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
#portofolio_entreprise .content_cadre:hover h3,
#portofolio_entreprise .content_cadre.hover h3,
#portofolio_entreprise .content_cadre:hover p,
#portofolio_entreprise .content_cadre.hover p {
 -webkit-transform: translateY(0);
 transform: translateY(0);
 opacity: 1;
}
#portofolio_entreprise .content_cadre:hover h3,
#portofolio_entreprise .content_cadre.hover h3 {
 -webkit-transition-delay: 0.3s;
 transition-delay: 0.3s;
}
#portofolio_entreprise .content_cadre:hover p,
#portofolio_entreprise .content_cadre.hover p {
 -webkit-transition-delay: 0.2s;
 transition-delay: 0.2s;
}


@media screen and (min-width: 960px) and (max-width:1140px){
   #portofolio_entreprise .content_cadre h3{
       font-size: 1.7rem;
   }
   #portofolio_entreprise .content_cadre p {
       font-size: 1rem;
   }
}

@media screen and (min-width: 1140px){
   #portofolio_entreprise .content_cadre h3{
       font-size: 2rem;
   }
   #portofolio_entreprise .content_cadre p {
       font-size: 1.3rem;
   }
}

/* Nouvelle disposition sur desktop avec la barre de recherche sur la vidéo */
@media screen and (min-width: 960px) {
   #header .content_searchbar {
   position: absolute;
   top:50%;
 }
  /* Barre de recherche en une ligne (display flex) sur la vidéo */
   #header .search_bar{
   display: flex;
   }
   /* activation du filtre hover en version desktop */
   #portofolio_entreprise .content_cadre figcaption{
       visibility: visible;
   }
   #portofolio_entreprise .content_cadre:before {
       visibility: visible;
   }
}


/* CSS de la NavBar */
@import "https://fonts.googleapis.com/css?family=Lato:400,700,900";


.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background: rgba(0,0,0,0.1);
  color: #333;
  transition: all 0.3s;
}

/*logo plus onglet recruteur*/
.navbar-brand {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100px;
  display: none;
  box-shadow: 4px 4px 9px rgba(0,0,0,0.3);
}

.navbar-recruteur{
  padding-left: 100px;
  color: black;
}


.cl-effect-5 a {
  overflow: hidden;
}

.cl-effect-5 a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cl-effect-5 a span::before {
  position: absolute;
  color: black;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}


.fred_nav_logo_img {
  background-image: url('../images/wyn-logo.png');
  background-repeat: no-repeat;
  width: 160px;
  height: 303px;
  position: absolute;
  top: 20%;
  left: 45%;
}


/*navbar autres onglets*/
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link #border a {
  border : 1px solid white;
  border-radius: 5px;
}


.navbar #border a:hover {
  background-color: white;
  color: black;
  transition: all 0.2s;
}


#navbarTogglerDemo02.navbar-collapse.collapse.show {
  text-align: right;
}

/*navbar after scroll*/
.navbar.compressed {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  color: black;
}

.navbar.compressed .navbar-nav .nav-link {
  color: black;
  margin-right: 20px;
}


.navbar.compressed #border a {
  border : 1px solid black;
  border-radius: 5px;
}



.fred_nav_logo_img.scroll {
  background-image: url('images/wny-logo.jpg');
  background-repeat: no-repeat;
  width: 160px;
  height: 303px;
  position: absolute;
  top: 10%;
  left: 20%;
}





.text-center{
  padding-top: 100px;
}





@media screen and (max-width: 990px){
  .navbar{
    background:white;
  }
  #navbarTogglerDemo02 > ul > li > a{
    color:black;
  }
  .navbar.compressed #border a{
    border: 0;
  }
}
