extends layout

block content
    header
        p ici se trouve  nav.pug
        include video_header.pug
    body
        p ici se trouve histoire
        p ici se trouve serious_bar
        p ici se trouve acceuil_profile
        p ici se trouve fun_bar
        p ici se trouve entreprise
    footer
        p ici se trouve footer
