header#header
  .container-fluid
    .row
      .col-12.video_header.embed-responsive.embed-responsive-16by9
        video.embed-responsive-item(autoplay='autoplay' loop='loop' muted='muted')
          source(src='images/video_header.mp4' type='video/mp4')
  .container-fluid.content_searchbar
    .row
      .col-sm-12.col-md-4.offset-md-1.text-center
        button.btn.btn_header_emploi.btn-primary.btn-lg(type='button' onclick='showSearchBarDev()')  Je recherche un developpeur
      .col-sm-12.col-md-4.offset-md-2.text-center
        button.btn.btn_header_developpeur.btn-secondary.btn-lg(type='button' onclick='showSearchBarJob()')  Je recherche un emploi
      #search_bar1.col-sm-12.col-lg-6.offset-lg-3.search_bar
        .input-group
          input.form-control.border-secondary.py-2(type='search' value='search')
          .input-group-append
            button.btn.btn-outline-secondary.icon_search(type='button')
              i.fa.fa-search(aria-hidden='true')
      #search_bar2.col-sm-12.col-lg-6.offset-lg-3.search_bar
        .input-group
          input.form-control.border-secondary.py-2(type='search' value='search')
          .input-group-append
            button.btn.btn-outline-secondary.icon_search(type='button')
              i.fa.fa-search(aria-hidden='true')
